<!-- <!doctype html> -->
<html lang="en">

<html>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <style>
        #container {
    min-width: 310px;
    max-width: 800px;
    height: 600px;
    margin: 0 auto
}

    </style>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
    <div id="container"></div>
<script> 
var arr={{arr|safe}}

function create_title(arr){ //this function returns string in format 'item1,item2,..and itemsn'
    var countries=[];
    arr.forEach(function(item) {
    countries.push(item.name);
    });
    
    
    if(countries.length>1) 
    {return `${countries.slice(0,-1).join(', ')} and ${countries.slice(-1)}`}
    else
    {return countries[0]}
    }



Highcharts.stockChart('container', {
    title: {
            text: `Recovery Rates in ${create_title(arr)}`
        },
        rangeSelector : {
                enabled: false //remove the zoom and the navigator
			},
            navigator: {
                enabled: false
            },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: ' % percent',
        shared: true
    },
    series:arr
    
});
   
</script>    
</body>
</html>