<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br>
   <li><a href="http://127.0.0.1:8000/ConfirmedDaily">Confirmed Daily Cases </a></li>
   <li><a href="http://127.0.0.1:8000/ConfirmedCumul">Confirmed Cumulative Cases </a></li>
   <br><br>
   <li><a href="http://127.0.0.1:8000/DeathsDaily">Deaths Daily </a></li>
   <li><a href="http://127.0.0.1:8000/DeathsCumul">Deaths cumulative</a></li>
   <li><a href="http://127.0.0.1:8000/DeathsRates">Death Rates</a></li>
   <br><br>
   <li><a href="http://127.0.0.1:8000/RecoveriesDaily">Recoveries Daily </a></li>
   <li><a href="http://127.0.0.1:8000/RecoveryCumul">Recoveries Cumulative</a></li>
   <li><a href="http://127.0.0.1:8000/RecoveryRates">Recovery Rates</a></li>



    
    
</body>
</html>